*{
    margin: 0%;
}

/*header*/
header{

    background-color: #91d0f0;

    height: 100px;

}
header.container-fluid{
    align-items: center;
}

.container-fluid{

   

    padding-left: 10px;

   



}

.container-fluid p{

    position: relative;

    top: 75px;

    text-align: center;

    

}

.container-fluid img{

    height: auto;

    width: auto;

    max-width: 200px;

    max-height: 200px;

    position: absolute;

    top: -10px;

}

.container-fluid a:hover{

    background-color: #6069f0;

    height: 25px;



}
#menu{
    position: relative;
    top: 75px;
    
}

/*main*/

#tudo{
    margin-top: 10px;
}

#pesquisa{

    margin-left: 10px;
}

#lupa{
    max-width: 10px;
    max-height: 10px;
    width: 20px;
    height: 20px;
}
#conta{
    height: 45px;
    float: right;
    margin-bottom: 10px;
    
}
#seta{
    background-color: rgb(229, 228, 226);
    
}
#carousel{
    padding-left: 20px;
    float: center;
}
#laroi{

    background-color: #91d0f0;

    padding-left: 200px;

    position: relative;

    height: 100px;

}
#mapa{
    height: 450px;
    width: 550px;
    padding-left: 10px;
}
#texto{
    padding-left: 35px;
    
}
#article{
    padding-top: 50px;
    left: 70px;
    padding-bottom: 70px;
}
#img{
    padding-top: 100px;
    width: 350px;
    top: 52px;
    padding-right: 100px;
}

.container{
    padding-left: 75px;
}
/* Footer */
footer{

    background-color: #91d0f0;

}



.logo, .whats, .gmail{

    width: 100px;

}



.logo{

    width: 204px;

}



#whats{

        margin-top: 26px;

        margin-bottom: 1rem;

        margin-right: 36px;

        float: right;

}



.whats{

    width: 45px;

    margin-top: 20px;

}



#gmail{

    margin-top: 25px;

    margin-bottom: 1rem;

    float: right;

}



.gmail{

    width: 40px;

    margin-top: 26px;

}



.fut{

    flex: 0 0 25%;

    margin-right: 102px;

    max-width: 24%;

}



.footer{

    margin: 0;

}



.lwg{

    width: 100%;

}

